/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
background:#0a0a0a;
font-family:Arial, Helvetica, sans-serif;
margin:auto;
color:#000000;
width:1000px;
}

main {
  border:2px solid #06284b;
  background:#ffffffcc;
  padding:5px 15px;
  line-height:1.4em;
  text-align:justify;
  }

header {
  border:2px solid #094683;
  background:#ffffff;
  padding:5px 15px;
  line-height:1.4em;
  text-align:justify;
  }

left {
  display: inline;
  width:50px
  right:10px
  border:2px solid #06284b; 
  }