/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
background:#141414;
width:100%;
margin:auto;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#fafafa;
}

body {
  width:800px;
  border:1px solid #7bb0e6;
  border-top:none;
  display:grid;
  grid-template-columns: 600px 200px;
  grid-template-rows: 125px 230px auto;
}

main {
  background:#ffffff;
  padding:5px 15px;
  line-height:1.4em;
  text-align:justify;
  }